<div class="container">
    <h1>添加产品</h1>{{.error}}
    <form method="post" action='{{urlfor "ProductController.AddProduct"}}' enctype="multipart/form-data" >
        <div class="form-group">
            <label>产品名称：</label>
            <input type="text" class="form-control" name="ProductName">
        </div>
        <div class="form-group">
            <label>产品总数：</label>
            <input type="text" class="form-control" name="Total">
        </div>
        <div class="form-group">
            <label>是否过期：</label>
            <input type="radio" name="Status"  value="1">是
            <input type="radio" name="Status" checked value="2">否
        </div>
        <button type="submit" class="btn btn-default">添加</button>
    </form>
    <a href='{{urlfor "ProductController.Index"}}'>返回</a>
</div>