<div class="container">
    <h1>添加产品</h1>{{.error}}
    <form method="post" action='{{urlfor "ProductController.UpdateProduct"}}' enctype="multipart/form-data" >
        <div class="form-group">
            <label>产品ID：</label>
            <input type="text" class="form-control" name="ProductId" value="{{.Product.ProductId}}" >
            <label>产品名称：</label>
            <input type="text" class="form-control" name="ProductName" value="{{.Product.ProductName}}" >
        </div>
        <div class="form-group">
            <label>产品总数：</label>
            <input type="text" class="form-control" name="Total" value="{{.Product.Total}}" >
        </div>
        <div class="form-group">
            <label>是否过期：</label>
            <input type="radio" name="Status"  value="1" {{if eq .Product.Status 1}} checked {{end}}>是
            <input type="radio" name="Status"  value="2" {{if eq .Product.Status 2}} checked {{end}}>否
        </div>
        <button type="submit" class="btn btn-default">修改</button>
    </form>
    <a href='{{urlfor "ProductController.Index"}}'>返回</a>
</div>